<div class="header">
   <h1 class="text-center">Welcome to Quotes.Com</h1>

   <app-button
    color="{{ showAddQuote ?'green':'black'  }}"
    text="{{ showAddQuote ? 'Close':'Add Quote' }}"
    (btnClick)="toggleAddQuote()">
   </app-button>
</div>



<!-- @output() newitem = new EventEmitter()
on adding quotes

button=clear(click)="clearbtn()"
button=submit(click)="submitbtn()"
ts;;give variable to input
input:;ngmodel=assign variable

clearbtn = (){
  this.var1 =''
  this.var2 =''
}
submitbtn=(){
  if(this.var1 ===""||this.var2 ===""){return;}
this.newItem.emit(name:this.var1,var2:this.var2)
}
this component
Addnewquote
-->