 <app-header [btn1]="'Add New Quote'"
 (btnPress)="headerBtnClick($event)" 
 color="{{ showAddItem ?'green':'grey'  }}">

</app-header> 

<div class="nav" *ngIf = "showAddItem">
  <div class="col-md-6" style="width: 80%;">
    <app-quote-form (addQuote)="addNewQuote($event)">
  
    </app-quote-form>
  </div>
</div>

<div class="container-fluid">
    <div  class="container"  *ngFor="let quote of quotes; let i = index">
      <p > {{i+1}}. Category <span class="text-info"> {{ quote.category }} </span> </p>
      <p>Quote: {{ quote.thequote }}</p>
      <p> It was Written by {{quote.author}} </p>
        <p> It was posted on {{quote.completeDate|date}},
          Todate its <span class="text-info"> {{quote.completeDate | dateCount }} </span>  Days.</p>
        <button class="btns"  (click)="toggleDetails(i)">Show Quote Details</button>
    
   
      <app-quote-details *ngIf="quote.showDescription"[quote]="quote" 
        (isDone)="deleteQuote($event, i)">
      
      </app-quote-details>

    </div>
</div>








