.container{
  margin-left: 20%;
  padding: 20px;
  border: 2px  solid #000000;
  box-shadow: 4px 4px 4px 4px green;
  margin-top:20px;
  background-color:grey;
  color: black;
}
.nav{
  display: flex;
  justify-content: center;
}
