.form{
  border: 2px solid green;
  padding: 20px;
  margin: 20px;
  background-color:grey;
  width: 60%;
  margin-left: 25%;

}
h2{
  color: black;
}
.form-group label{
  display: block;
  color: black;
  
}
.form-group{
  margin-left: 26% ; 
}
button{
  margin-top: 20px;
  margin-left: 180px;
  color: black;
}